#
# semidrive cooling device drivers configuration
#
config SEMIDRIVE_BUDGET_COOLING
	tristate "semidrive budget cooling"
	depends on CPU_FREQ
	help
	Adds semidrive cpu budget cooling devices, and these cooling devices can be
	bound to thermal zone trip points. When a trip point reached, the
	bound cpufreq cooling device turns active to set CPU frequency low to
	cool down the CPU.

config SEMIDRIVE_COOLING_DEVICES
	tristate "semidrive cooling about CPU"
	depends on CPU_FREQ
	help
	Adds CPU ap cooling device.

