#
# Semidrive SoC drivers
#
menu "Semidrive SoC drivers"

config SEMIDRIVE_IPCC
	tristate "Semidrive Inter-Processor Communication Channel"
	depends on ARCH_SEMIDRIVE
	depends on MAILBOX
	depends on RPMSG_SEMIDRIVE
	help
	  This enables support for the shared memory regions for inter-processor communication

config SEMIDRIVE_SCR
	tristate "Semidrive SCR driver"
	depends on ARCH_SEMIDRIVE
	select HWSEM_SEMIDRIVE
	default n
	help
	  SemiDrive System Control Register driver.

endmenu
